<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" th:href="@{'/webjars/layui/2.2.6/css/layui.css'}">
    <link rel="shortcut icon" th:href="@{'/img/favicon.ico'}">
    <script language="JavaScript" th:src="@{'/webjars/jquery/3.3.1/dist/jquery.min.js'}"></script>
    <script language="JavaScript" th:src="@{'/js/dateformat.js'}" charset="utf-8"></script>

</head>
<body>
<ul th:insert="~{fragment/header :: top}"></ul>
<br>

<div class="demoTable layui-col-lg-offset1">
    <div class="layui-inline layui-form-pane">
        <label class="layui-form-label">学生姓名：</label>
        <div class="layui-inline">
            <input class="layui-input layui-col-lg6 layui-form-pane" name="stuName"
                   id="stuName" autocomplete="on">
        </div>
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>
<table id="stu" lay-filter="stu"></table>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="authorized">授权</a>
</script>

<script th:inline="none">
    $(function () {
        layui.use(["table", "util"], function () {
            var $table = layui.table;
            var $utils = layui.util;

            var $ = layui.$, active = {
                reload: function () {
                    var demoReload = $('#demoReload');
                    $table.reload('stu', {
                        where: {
                            name: $("#stuName").val(),
                        },
                        page: true,
                    });
                }
            };

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            console.log($utils);
            //第一个实例
            $table.render({
                elem: '#stu',
                height: 480,
                //数据接口,
                url: '/stu/user/authorized',
                //开启分页
                page: true,
                method: "post",
                //表头
                cols: [[
                    {field: 'userId', title: '用户 ID'},
                    {field: 'username', title: '用户姓名'},
                    {field: 'userType', title: '用户类型'},
                    {field: 'right', title: '操作', toolbar: "#barDemo"}
                ]],
                limit: 5,
                where: {
                    name: $("#stuName").val(),
                    idCard: $("#idCard").val(),
                    cid: $("#cidSearch").val()
                },
                done: function (val) {
                    console.log(val);
                }
            });
            $table.on("tool(stu)", function (obj) {
                if (obj.event === "authorized") {
                    window.location.href = "/stu/user/to/authorized";
                }
            });
        })
    });
</script>


<div th:insert="~{fragment/header :: footer}"></div>
</body>
<script language="JavaScript" th:src="@{'/webjars/layui/2.2.6/layui.all.js'}" charset="utf-8"></script>
</html>